/*
html {
     background: #da720a;
}

body {
     background-repeat: no-repeat;
     background: #da720a;
     background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#da720a));
     background: -moz-linear-gradient(top, #fff, #da720a);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#da720a');
}
   */

/* checkbox
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}


[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .2em; left: .275em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

label:hover:before {
  border: 2px solid #4778d9!important;
}
/*hasta aca*/
html {
	background: #ffffff;
}

body {
	background-repeat: no-repeat;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffffff));
	background: -moz-linear-gradient(top, #fff, #ffffff);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#da720a');
	font-family: 'Open Sans' !important;
}
h1, h2, h3, h4, h5, h6, p span {
	font-family: 'Open Sans', sans-serif;
}

.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
	font-family: 'Open Sans', sans-serif;
}
#employeePic {
	float: left;
	padding-right: 10px;
	padding-bottom: 16px;
}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
	font-family: 'Open Sans', sans-serif;
}
#employeeDetails p {
	margin-top: 0px;
	margin-bottom: 8px;
}

#actionList {
	clear: both;
}
hr {
   border-color: #eaeaea;
   border-style: solid none none;
   border-width: 1px 0 0;
   height: 0;
   margin: 30px 0;
}

/* 
.logodiv{ 
	position:fixed; right:0px; top:0px; z-index:100;
	float: right;
	margin-left:auto;
	margin-right:10px;
	background: url('img/logo-app-enc.png') no-repeat;
	height:150px;
	width:150px;
}
*/
.logodiv{ 
	display:block; 
	background-position:right;
	margin-left:auto;
	margin-right:10px;
	background: url('img/NuevoEspacio.png') no-repeat;
	 height:38px;
	width:250px;
}
.logodivcece{ 
/*	display:block;  
	margin-left:10px;
	margin-right:auto;
display:run-in;
*/position: fixed;
	background-position:left;
	background: url('img/logo.png') no-repeat;
	height:80px;
	width:80px;
}

* {
	margin: 0;
	padding: 0;
}

.centered {
	text-align: center;
}
.grillawrapper {
	width: 100%;
	padding: 0px 0;
	font-family: 'Open Sans', 'Helvetica Neue', arial, sans-serif;
	font-weight: 200;
}
.grillacontainer {
	width: 500px;
	margin: 0 auto;
	
}
ul.grilla-nav {
	list-style: none;
	font-size: .85em;
	font-weight: 200;
	text-align: center;
}
ul.grilla-nav li {
	display: inline-block;
}
.grilla-container {
	display: none;
}
/* ----- Image grillas ----- */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: 0px; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 20px 0px;
	border-bottom: 0.05rem solid #d6d6d6;
	border-right: 0.05rem solid #d6d6d6;
	margin: 0px;
	font-size: 12px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #f0f0f0;
}
ul.rig li img {
	max-width: 45%;
	height: auto;
	margin: 0px 0 20px;
	display: block;
	margin-left: auto;
	margin-right: auto
}
ul.rig li h3 {
	margin: 0 0 10px;
}
ul.rig li p {
	text-shadow: none;
	font-size: .9em;
	line-height: 1.5em;
	color: #000000; /*#DF7401;*/
	text-align: center;
}
ul.rig li a {
	text-shadow: none;
	font-size: .9em;
	line-height: 1.5em;
	color: #000000; /*#FFBF00;*/
	text-align: center;
}
ul.rig li a:active {

	color: #ffffff !important; /*#FFBF00;*/

}

ul.rig li:active {
	background-color: #FF9800;
	 color: #fff !important;
}


ul.rig.columns-2 li {
	width: 50%; /* this value + 2.5 should = 50% 47.5% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 32.03%; /* this value + 0.5 should = 33% */
}


@media (max-width: 1199px) {
	.grillacontainer {
		width: auto;
		padding: 0 1px;
	}
}


#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
	
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.ui-header {
	height: 55px;
	background-color: #FF9800;
	color: #ffffff !important;
}
.ui-header .ui-title, .ui-footer .ui-title {
	text-align: center;
	font-size: 18px;
	display: block;
	line-height: 54px;
	margin: 0px 0px 0px -3rem;
	/* padding: 0; */
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: none;
}
.ui-btn-icon-left .ui-icon {
	left: 10px;
}
.ui-bar-a {
	border: 0px solid #4d4d4d;
	color: #ffffff;
	font-weight: normal;
	text-shadow: none;
	background: #FF9800 !important;
	box-shadow: 2px 4px 10px rgba(0,0,0,.15);
}

.banner {
	text-align: center;
	margin: 0;
}
.banner-img {
	width: 100%;
	height: auto;
}
.fce-logos {
	text-align: center;
	margin: 0;
	width: 100%;
	height: auto;
}

input.ui-input-text, textarea.ui-input-text {
	background-image: none;

	display: block;
	width: 90%;
	padding: .429rem 1rem;
	font-size: 1rem;
	line-height: 1.57142857;
	color: #76838f;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #e4eaec;
	border-radius: .215rem;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.ui-btn-down-c {
	border: 0px solid #ff9701;
	background: rgba(255, 150, 1, 0.67);
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: none;
	background-image: none !important;
	box-shadow: none;
	border-radius: 22px;
	line-height: 25px;
	font-size: .8rem;
}

.ui-br {
	border-bottom: rgb(130,130,130);
	border-bottom: rgba(130,130,130,.3);
	border-bottom-width: 0px;
	border-bottom-style: solid;
}
.ui-field-contain, fieldset.ui-field-contain {
	padding: 1.5em 0;
	margin: 0;
	border-width: 0 0 0px 0;
	overflow: visible;
}
.divider {
	background-color: #f4f6f9;
	width: 100%;
	height: 1px;
	margin: 10px 0px 20px 0px;
}

.ui-body-a, .ui-dialog.ui-overlay-a {
	border: 0px solid #858585;
	color: #000000;
	text-shadow: 0 0px 0 #eeeeee;
	background: #ffffff !important;
	background-image: none;
}
.ui-overlay-shadow {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 0px solid;
}

.mar-top-bot {
	margin: 1rem 0;
}
.mar-error {
	margin: 3rem 0;
}

.ui-header .ui-btn-right {
	position: absolute;
	left: 10px;
	top: 14px;
	width: 40px;
}
.ui-btn-up-a {
	border: 0px solid #e6e6e6;
	/* background: #e6e6e6; */
	/* font-weight: bold; */
	/* color: #000000; */
	text-shadow: 0 0px 0px #eeeeee;
	background-image: none !important;
	background-color: transparent;
}

.ui-bar-a .ui-shadow, .ui-bar-b .ui-shadow, .ui-bar-c .ui-shadow {
	-moz-box-shadow: 0px 1px 0 rgba(255,255,255,.3);
	-webkit-box-shadow: 0px 1px 0 rgba(255,255,255,.3);
	box-shadow: 0px 0px 0 rgba(255,255,255,.3);
}
.ui-btn-inner {
	border-top: 0px solid #fff;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-bar .ui-btn-inner {
	padding: 15px 0px;
}

.ui-btn-hover-a {
	border: 0px solid #e6e6e6;
	/* background: #e6e6e6; */
	/* font-weight: bold; */
	/* color: #000000; */
	text-shadow: 0 0px 0px #eeeeee;
	background-image: none !important;
	background-color: transparent;
}

.ui-icon-shadow {
	-moz-box-shadow: 0px 0px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0px 0px 0 rgba(255,255,255,.4);
	box-shadow: 0px 0px 0 rgba(255,255,255,.4);
}

.ui-icon {
	width: 24px;
	height: 24px;
}


.ui-btn-up-c {
	border: 0px solid #cccccc;
	background: #eeeeee;
	font-weight: bold;
	color: #2F3E46;
	text-shadow: 0 0px 0px #f6f6f6;
	background-image: none;
}
.ui-btn-hover-c {
	border-bottom: 0px solid #d6d6d6 !important;
	background: rgba(255, 149, 1, 0.59);
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: none;
	background-image: none !important;
	box-shadow: none;
	border-radius: 20px;
	line-height: 22px;
	font-size: .8rem;
	font-family: 'Open Sans', sans-serif;
}
.ui-btn-up-c {
	border-bottom: 0px solid #d6d6d6 !important;
	background: #ff9701;
	font-weight: normal;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: none;
	background-image: none !important;
	box-shadow: none;
	border-radius: 20px;
	line-height: 22px;
	font-size: .8rem;
	font-family: 'Open Sans', sans-serif;
}
.lista_personalizada {
	border-bottom: 1px solid #d6d6d6 !important;
	background: #ffffff;
	font-weight: normal;
	text-transform: capitalize;
	color: #000;
	text-shadow: none;
	background-image: none !important;
	box-shadow: none;
	border-radius: 0px;
	line-height: 23px;
	font-size: .8rem;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;

}
li.lista_personalizada:active {
	background-color: #ececec;
}

.flow.out {
	-webkit-transform: translateX(-100%) scale(.7);
	-webkit-animation-name: flowouttoleft;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 950ms;
	-moz-transform: translateX(-100%) scale(.7);
	-moz-animation-name: flowouttoleft;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
	transform: translateX(-100%) scale(.7);
	animation-name: flowouttoleft;
	animation-timing-function: ease;
	animation-duration: 950ms;
}
.flow.in {
	-webkit-transform: translateX(0) scale(1);
	-webkit-animation-name: flowinfromright;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 950ms;
	-moz-transform: translateX(0) scale(1);
	-moz-animation-name: flowinfromright;
	-moz-animation-timing-function: ease;
	-moz-animation-duration: 350ms;
	transform: translateX(0) scale(1);
	animation-name: flowinfromright;
	animation-timing-function: ease;
	animation-duration: 950ms;
}

.ui-bar-c {
	border: 0px solid #4d4d4d;
	background: #f7f7f7;
	color: #ffffff;
	font-weight: normal;
	text-shadow: 0 0px 0px #444444;
	background-image: none;
}

.ui-listview-filter .ui-input-search {
	margin: 10px;
	width: auto;
	display: block;
}
.ui-shadow-inset {
	-moz-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,.2);
	box-shadow: inset 0px 0px 0px rgba(0,0,0,.2);
}
.ui-body-c, .ui-dialog.ui-overlay-c {
	border: 0px solid #858585;
	color: #000000;
	text-shadow: 0 0px 0 #eeeeee;
	background: #f2f2f2;
	background-image: none;
	font-family: 'Open Sans',sans-serif !important;
}
input.ui-input-text, textarea.ui-input-text {
	background-image: none;
	display: block;
	width: 90%;
	padding: .429rem 1rem;
	font-size: .9rem;
	line-height: 1.57142857;
	color: #525354;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #e4eaec;
	border-radius: .215rem;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.light {
	color: #b9b9b9;
}

.ui-listview-inset .ui-li {
	border-right-width: 0px;
	border-left-width: 0px;
	border-left: 2px solid #ffd08d;
	color: #696969;
	font-weight: lighter;
	font-size: 12px;
	background: white;
	line-height: 20px;
	border-radius: 0px 5px 5px 0px;
	margin: 10px;
}
.ui-li-static.ui-li {
	padding: 1.3em 15px 1.3em 15px;
	display: block;
}

.ui-icon-arrow-r {
	background-position: -104px 50%;
}
span.puntaje {
	right: 75px;
	position: absolute;
	top: 35px;
	color: #3498DB;
	font-weight: bold;
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
	padding-right: 100px;
}

.ui-btn-icon-notext .ui-btn-inner {
	padding: 0px 0px 0px 3px;
}
.icon-size {
	max-height: 14px;
}

.icon-size-mr {
	max-height: 14px !important;
	margin-right: 5px;
}

.ui-shadow {
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
	box-shadow: 0px 0px 0px rgba(0,0,0,.3);
}

#OfertaCurso, #employeeDetails, #AulaCurso, #Credencial {

padding: 15px;
background: #ffffff;
border-radius: 5px;
}



#novedadesList > li {

text-transform: inherit;
background: #ffffff;
border-radius: 0px;
	border-bottom: 1px solid #d6d6d6;
}

.ui-content {
	background: #f2f2f2;
}
.c-blue {
	color: #3498DB;
}
.c-green {
	color: #27AE60;
}

p {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #5f6368;
}
img {
	display: inline-block;

}
iframe {
	display: block;
	width: 100%;
}
.ui-li-heading {
	font-size: 16px;
	font-weight: inherit;
	display: block;
	margin: .6em 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #202124;
}

.ui-li-desc {
	font-size: 14px;
	font-weight: inherit;
	display: block;
	margin: -.5em 0 .6em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #5f6368;
}

#city img {
	display: block;
}

.tags {
	background: #ff9701;
	color: white;
	padding: 2px 6px;
	border-radius: 3px;
	font-size: 12px;
	position: absolute;
	right: 30px;
}

.ui-li-thumb {
	left: 0px;

}

#BeneficiosCredencial img {
	max-height: 100%;
}